2.2. Criando Tabelas

In [19]:

import psycopg



try:
   with psycopg.connect(
    host="200.129.44.249",
    dbname="Gabriel_554226_ed1",
    user="554589",
    password="554589"
) as conn:
    print("Conectou")

    CREATE_TABLES_SQL = """

        DROP TABLE IF EXISTS Curso CASCADE;
        DROP TABLE IF EXISTS Aluno CASCADE;
        DROP TABLE IF EXISTS Professor CASCADE;
        DROP TABLE IF EXISTS Turma CASCADE;
        DROP TABLE IF EXISTS Disciplina CASCADE;
        DROP TABLE IF EXISTS Aluno_Turma CASCADE;


        CREATE TABLE Curso (
            id SERIAL,
            nome VARCHAR(100) NOT NULL,
            regime VARCHAR(20),
            duracao INT,
            PRIMARY KEY(id)
        );

        CREATE TABLE Aluno (
            id SERIAL ,
            nome VARCHAR(100) NOT NULL,
            curso_id INT,
            semestre INT,
            PRIMARY KEY(id),
            FOREIGN KEY (curso_id) REFERENCES Curso(id)
        );

        CREATE TABLE Professor (
            id SERIAL,
            nome VARCHAR(100),
            area_especializacao VARCHAR(100),
            contato VARCHAR(100),
            curso_id INT,
            PRIMARY KEY(id),
            FOREIGN KEY (curso_id) REFERENCES Curso(id)
        );

        CREATE TABLE Disciplina (
            id SERIAL ,
            codigo VARCHAR(100) UNIQUE,
            nome VARCHAR(100),
            area_especializacao VARCHAR(100),
            carga_horaria INT,
            curso_id INT,
            PRIMARY KEY(id),
            FOREIGN KEY (curso_id) REFERENCES Curso(id)
        );

        CREATE TABLE Turma (
            id SERIAL,
            codigo VARCHAR(10) UNIQUE,
            disciplina_id INT,
            semestre VARCHAR(20),
            capacidade_maxima INT,
            estado VARCHAR(20),
            prof_id INT,
            PRIMARY KEY(id),
            FOREIGN KEY (disciplina_id) REFERENCES Disciplina(id),
            FOREIGN KEY (prof_id) REFERENCES Professor(id)
        );
            CREATE TABLE  Aluno_Turma (
            aluno_id INT NOT NULL,
            turma_id INT NOT NULL,
            PRIMARY KEY (aluno_id, turma_id),
            FOREIGN KEY (aluno_id) REFERENCES Aluno(id) ON DELETE CASCADE,
            FOREIGN KEY (turma_id) REFERENCES Turma(id) ON DELETE CASCADE
        );
    """
    with conn.cursor() as cur:
                    cur.execute(CREATE_TABLES_SQL)

except BaseException:
    conn.rollback()

finally:
    conn.close()

Conectou

In [ ]:
2,4