2.2. Criando Tabelas

In [10]:

import psycopg



with psycopg.connect(
    host="200.129.44.249",
    dbname="Gabriel_554226_ed1",
    user="554589",
    password="554589"
    ) as conn:
    print("Conectou")

    CREATE_TABLES_SQL = """

        DROP TABLE IF EXISTS Curso CASCADE;
        DROP TABLE IF EXISTS Aluno CASCADE;
        DROP TABLE IF EXISTS Professor CASCADE;
        DROP TABLE IF EXISTS Turma CASCADE;
        DROP TABLE IF EXISTS Disciplina CASCADE;
        DROP TABLE IF EXISTS Aluno_Turma CASCADE;


        CREATE TABLE Curso (
            id SERIAL,
            nome VARCHAR(100) NOT NULL,
            regime VARCHAR(20),
            duracao INT,
            PRIMARY KEY(id)
        );

        CREATE TABLE Aluno (
            id SERIAL ,
            nome VARCHAR(100) NOT NULL,
            curso_id INT,
            semestre INT,
            PRIMARY KEY(id),
            FOREIGN KEY (curso_id) REFERENCES Curso(id)
        );

        CREATE TABLE Professor (
            id SERIAL,
            nome VARCHAR(100),
            area_especializacao VARCHAR(100),
            contato VARCHAR(100),
            curso_id INT,
            PRIMARY KEY(id),
            FOREIGN KEY (curso_id) REFERENCES Curso(id)
        );

        CREATE TABLE Disciplina (
            id SERIAL ,
            codigo VARCHAR(100) UNIQUE,
            nome VARCHAR(100),
            area_especializacao VARCHAR(100),
            carga_horaria INT,
            curso_id INT,
            PRIMARY KEY(id),
            FOREIGN KEY (curso_id) REFERENCES Curso(id)
        );

        CREATE TABLE Turma (
            id SERIAL,
            codigo VARCHAR(10) UNIQUE,
            disciplina_id INT,
            semestre VARCHAR(20),
            capacidade_maxima INT,
            estado VARCHAR(20),
            prof_id INT,
            PRIMARY KEY(id),
            FOREIGN KEY (disciplina_id) REFERENCES Disciplina(id),
            FOREIGN KEY (prof_id) REFERENCES Professor(id)
        );
            CREATE TABLE  Aluno_Turma (
            aluno_id INT NOT NULL,
            turma_id INT NOT NULL,
            PRIMARY KEY (aluno_id, turma_id),
            FOREIGN KEY (aluno_id) REFERENCES Aluno(id) ON DELETE CASCADE,
            FOREIGN KEY (turma_id) REFERENCES Turma(id) ON DELETE CASCADE
        );
    """
    with conn.cursor() as cur:
        cur.execute(CREATE_TABLES_SQL)
    
        conn.commit()

Conectou

Inserir dados nas tabelas

In [11]:
import psycopg
from psycopg import errors
with psycopg.connect(
    host="200.129.44.249",
    dbname="Gabriel_554226_ed1",
    user="554589",
    password="554589",
    autocommit=True
) as conn:
     with conn.cursor() as cur:
          # Inserir na tabela cursos 
          cursos = [
              (1, 'Ciências da Computação', 'Semestral', 8),
              (2, 'Engenharia de Software', 'Anual', 10),
              (3, 'Sistemas de Informação', 'Semestral', 8)
          ]
          for c in cursos:
              cur.execute("""
                  INSERT INTO Curso (id, nome, regime, duracao)
                  VALUES (%s, %s, %s, %s)
                  ON CONFLICT (id) DO NOTHING
              """, c)

          #Inserir na tabela aluno
          alunos = [
              (1, 'João Silva', 1, 1),
              (2, 'Maria Costa', 1, 1),
              (3, 'Ana Souza', 3, 5),
              (4, 'Pedro Almeida', 2, 3),
              (5, 'Lucas Santos', 2, 3)
          ]
          for a in alunos:
              cur.execute("""
                  INSERT INTO Aluno (id, nome, curso_id, semestre)
                  VALUES (%s, %s, %s, %s)
                  ON CONFLICT (id) DO NOTHING
              """, a)

          # Inserindo Professores
          professores = [
              (1, 'Maria Oliveira', 'Banco de Dados', 'maria@ufcziin.br', 1),
              (2, 'João Pereira', 'Redes de Computadores', 'joao@ufc.br', 2),
              (3, 'Ana Silva', 'Inteligência Artificial', 'ana@ufc.br', 3),
              (4, 'Paulo Santos', 'Engenharia de Software', 'paulo@ufc.br', 2),
              (5, 'Carla Mendes', 'Redes de Computadores', 'carla@ufc.br', 1)
          ]
          for p in professores:
              cur.execute("""
                  INSERT INTO Professor (id, nome, area_especializacao, contato, curso_id)
                  VALUES (%s, %s, %s, %s, %s)
                  ON CONFLICT (id) DO NOTHING
              """, p)

          # Inserindo Disciplinas
          disciplinas = [
              (1, 'BD001', 'Fundamentos de Bancos de Dados', 'Banco de Dados', 60, 1),
              (2, 'IA002', 'Inteligência Computacional Aplicada', 'Inteligência Artificial', 80, 3),
              (3, 'RS003', 'Segurança da Informação', 'Redes de Computadores', 40, 2),
              (4, 'BD004', 'Introdução à Ciência de Dados', 'Banco de Dados', 60, 1),
              (5, 'ES005', 'Qualidade de Software', 'Engenharia de Software', 50, 2)
          ]
          for d in disciplinas:
              cur.execute("""
                  INSERT INTO Disciplina (id, codigo, nome, area_especializacao, carga_horaria, curso_id)
                  VALUES (%s, %s, %s, %s, %s, %s)
                  ON CONFLICT (id) DO NOTHING
              """, d)

          # Inserindo Turmas
          turmas = [
              (1, 'CC2024BD1', 1, '2024.2', 4, 'Aberta', 1),
              (2, 'CC2024IA1', 2, '2024.2', 4, 'Aberta', 3),
              (3, 'CC2024RS1', 3, '2024.2', 8, 'Aberta', 2),
              (4, 'CC2024DS1', 4, '2024.2', 4, 'Aberta', 1),
              (5, 'CC2024ES1', 5, '2024.2', 8, 'Aberta', 4)
          ]
          for t in turmas:
              cur.execute("""
                  INSERT INTO Turma (id, codigo, disciplina_id, semestre, capacidade_maxima, estado, prof_id)
                  VALUES (%s, %s, %s, %s, %s, %s, %s)
                  ON CONFLICT (id) DO NOTHING
              """, t)

          # Inserindo Aluno_Turma
          aluno_turmas = [
              (1, 1),
              (2, 1),
              (3, 2),
              (4, 3),
              (5, 4),
              (1, 5),
              (2, 4),
              (3, 5),
              (4, 2),
              (5, 3)
          ]
          for at in aluno_turmas:
              cur.execute("""
                  INSERT INTO Aluno_Turma (aluno_id, turma_id)
                  VALUES (%s, %s)
                  ON CONFLICT (aluno_id, turma_id) DO NOTHING""",at)

2.6.2. Teste do Storage Procedure 2.6.1

In [12]:

import psycopg
from psycopg import errors

with psycopg.connect(
    host="200.129.44.249",
    dbname="Gabriel_554226_ed1",
    user="554589",
    password="554589",
    
) as conn:
    with conn.cursor() as cur:
        try:
            
            cur.execute("CALL inc_semestre(%s)", (1,))
            conn.commit()  
            print("Semestre incrementado com sucesso")

        except errors.Error as e:
            conn.rollback()  
            print(f"Erro ao incrementar semestre: {e}")

Semestre incrementado com sucesso

2.7.3. Script de Teste do Trigger 2.7.1

In [13]:
import psycopg
from psycopg import errors


Aluno_Turma=[(3,1),(5,1),(4,1)]

with psycopg.connect(
    host="200.129.44.249",
    dbname="Gabriel_554226_ed1",
    user="554589",
    password="554589"
    ) as conn:
    print("Conectou")

    
    with conn.cursor() as cur:
        
        for aluno_id, turma_id in Aluno_Turma:
                try:
                    cur.execute(
                        "INSERT INTO Aluno_Turma (aluno_id, turma_id) VALUES (%s, %s)",
                        (aluno_id, turma_id)
                    )
                    print(f"Aluno {aluno_id} matriculado na Turma {turma_id} com sucesso")

                except errors.UniqueViolation as e:
                    print(f"Aluno já está matriculado na Turma")

                except errors.ForeignKeyViolation as e:
                    print(f"Aluno {aluno_id} ou Turma {turma_id} não existem")
                    
        conn.commit()

Conectou
Aluno 3 matriculado na Turma 1 com sucesso
Aluno 5 matriculado na Turma 1 com sucesso
Aluno 4 matriculado na Turma 1 com sucesso

2.7.4. Teste do Trigger 2.7.2

In [14]:
import psycopg
from psycopg import errors


Aluno_Turma_2 = [(1, 2),(1, 3),(1, 4)]

with psycopg.connect(
    host="200.129.44.249",
    dbname="Gabriel_554226_ed1",
    user="554589",
    password="554589",
) as conn:
    with conn.cursor() as cur:
        print("Conectado ao banco de dados!")

        for aluno_id, turma_id in Aluno_Turma_2:
            try:
                cur.execute(
                    "INSERT INTO Aluno_Turma (aluno_id, turma_id) VALUES (%s, %s)",
                    (aluno_id, turma_id)
                )
                print(f"Aluno {aluno_id} matriculado na Turma {turma_id} com sucesso")

            except errors.UniqueViolation:
                print(f"Aluno {aluno_id} já está na Turma {turma_id}, portanto não é possível matricular de novo")

            except errors.ForeignKeyViolation:
                print(f"Aluno {aluno_id} ou Turma {turma_id} não existem")
        conn.commit()

Conectado ao banco de dados!
Aluno 1 matriculado na Turma 2 com sucesso
Aluno 1 matriculado na Turma 3 com sucesso
Aluno 1 matriculado na Turma 4 com sucesso